<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg">
    <title>Error page</title>
</head>
<body>
    <div class="flex justify-center items-center h-[100vh] -translate-y-72">
        <h2 class="fixed font-thin text-red-600 text-[30px]">Oops Wrong username or password!</h2>
        <a href="/" class=" text-blue-400 mt-28 font-light">Return to login page</a>
    </div>
</body>
</html>